[submodule "swagger-ui"]
	path = swagger-ui
	url = ../scylla-swagger-ui
	ignore = dirty
[submodule "xxHash"]
	path = xxHash
	url = ../xxHash
[submodule "libdeflate"]
	path = libdeflate
	url = ../libdeflate
[submodule "seastar"]
	path = seastar
	url = git@github.com:amnonh/seastar.git
	branch = amnon/metrics_error_with_labels
